<h1>Posts</h1>
<% if session[:current_user] %>
  <%= link_to "Logout", logins_path, data: { "turbo-method": :delete }  %>
<% else %>
  <p>Want to add posts or edit yours ? Please <%= link_to "Sign In", new_logins_path %></p>
<% end %>
